<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock %}</title>

    <!-- Custom fonts for this template
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

</head>

<body id="page-top">
    <div id="wrapper">


        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Expense Tracker<sup>1</sup></div>
            </a>


            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('dashboard')}}">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('wallet')}}" aria-expanded="true">
                    <i class="fa fa-google-wallet" aria-hidden="true"></i>
                    <span>Wallet</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('addExpense')}}" aria-expanded="true">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    <span>Expenses</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('addCategory')}}" aria-expanded="true">
                    <i class="fa fa-object-group" aria-hidden="true"></i>
                    <span>Categories</span>
                </a>
            </li>
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('ExpenseHistory')}}">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <span>History</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('logout')}}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span>Logout</span></a>
            </li>
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span
                                    class="mr-2 d-none d-lg-inline text-gray-600 small">{{session['name'].capitalize()}}</span>
                                <img class="img-profile rounded-circle"
                                    src="{{url_for('static',filename='images/undraw_profile.svg')}}">
                            </a>
                        </li>

                    </ul>

                </nav>
                {% block body %}

                {% endblock %}

            </div>
        </div>
    </div>

    <!--Chart js-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--Area Chart-->
    <script src="{{url_for('static',filename='js/areaChart.js')}}"></script>
    <!--Pie Chart-->
    <script src="{{url_for('static',filename='js/pieChart.js')}}"></script>
    <!--Bar Chart-->
    <script src="{{url_for('static',filename='js/barChart.js')}}"></script>
    <!--Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>