{% extends 'index.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<script>
document.querySelector('.dashboard').classList.add('active');
</script>

{% if wallet and expense["1"]>0 %}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>


    <div class="row">

        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Wallet Amount</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{wallet["AMOUNT"]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                This Month Expense</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{current_month_expense["1"]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Wallet Balance</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{wallet["AMOUNT"]-current_month_expense["1"]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Expense
                                Percentage
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                        {{100-(((wallet["AMOUNT"]-current_month_expense["1"])/wallet["AMOUNT"])*100)}}%
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info"
                                            role="progressbar" style="width: 45%;"
                                            aria-valuenow="{{100-((wallet['AMOUNT']-current_month_expense['1'])/wallet['AMOUNT'])*100}}"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg mt-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">THIS MONTH EXPESES</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart" height="400px"></canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">EXPENSES</h6>
            </div>

            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart" height="500px" ></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">THIS YEAR EXPENSES</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myBarChart" height="500px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if wallet and expense["1"]==0 %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome</h1>
    </div>
    <div class=" col-xl-3 col-md-6 card shadow m-4">
        <div class="card-body d-flex flex-row align-items-center justify-content-center">
            <a href="{{url_for('addExpense')}}">Add Expense</a>
        </div>
    </div>
</div>
{% endif %}
{% if not wallet %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome</h1>
    </div>
    <div class="col-xl-3 col-md-6 card shadow m-4 ">
        <div class="card-body d-flex flex-row align-items-center justify-content-center" style="width:50%;">
            <a href="{{url_for('wallet')}}">Add Wallet</a>
        </div>
    </div>
</div>
{% endif %}

<div id="label" style="display: none;">
    {% for value in month[0] %}
    <div class="monthlabel">{{value}}</div>
    {% endfor %}
</div>

<div id="value" style="display: none;">
    {% for value in month[1] %}
    <div class="monthvalue">{{value}}</div>
    {% endfor %}
</div>
<div id="label" style="display: none;">
    {% for value in year[0] %}
    <div class="yearlabel">{{value}}</div>
    {% endfor %}
</div>

<div id="value" style="display: none;">
    {% for value in year[1] %}
    <div class="yearvalue">{{value}}</div>
    {% endfor %}
</div>



<script src="{{url_for('static',filename='js/areaChart.js')}}"></script>
<!--Pie chart-->
<script src="{{url_for('static',filename='js/pieChart.js')}}"></script>
<!--Bar Chart-->
<script src="{{url_for('static',filename='js/barChart.js')}}"></script>

{% endblock %}